<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>masonry UI introduce</title>

  <!-- SEO meta tag -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="date" content="">
	<meta name="sitecode" content="">
	<!-- // SEO meta tag -->

	<!-- Open Graph -->
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="">
	<meta property="og:site_name" content="">
	<meta property="og:locale" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:country-name" content="">
	<!-- // Open Graph -->

	<!-- 해당 Demo에서 필요한 apps CSS -->
	<link rel="stylesheet" href="../../assets/css/common.css">
	<link rel="stylesheet" href="../../assets/css/masonry01.css">
	<!-- // 해당 Demo에서 필요한 apps CSS -->
</head>
<body>

  <div class="contents_wrap">
    <!-- 개요 -->
    <div class="masonry_intro">
      <span class="intro_name">개요</span>
      <p class="intro_contents">웹 페이지에서 정보를 잘 표현해주기 위해 엘리먼트의 배치는 매우 중요합니다.<br>중요한 정보는 위에 덜 중요한 정보는 밑으로 배치를 하며 비슷한 중요도를 가지는 내용은 가로로 나란히 배치하기도 합니다.<br>이러한 배치를 하는 작업 또는 배치 된 상태를 우리는 레이아웃이라고 부릅니다.<br>요즘 웹은 워낙 다양한 정보를 표현해줘야 하기 때문에 상황에 맞는 적절한 레이아웃 선택은 UI/UX 디자인에 있어서 굉장히 중요합니다.<br>따라서, 많은 레이아웃 중 flex, grid, js를 활용한 Masonry 레이아웃을 구현하는 방법을 기록하려고 합니다.</p>
      <span class="intro_name">Masonry Layout?</span>
      <p class="intro_contents">Masonry라는 단어가 다소 생소하게 느껴질 수도 있는데, 영어로 직역하면 '석조', '돌 쌓기'라는 뜻을 가지고 있습니다.<br>돌 쌓기를 예를 들면 돌 들의 크기가 모두 일정하진 않죠. 그래서 이와 마찬가지로 화면에 표시해야 할 엘리먼트들의 가로 또는 세로의 길이가 제각각일 때<br> masonry레이아웃을 사용하면 보기 좋게 레이아웃을 표현할 수 있습니다.</p>
      <span class="intro_name">Masonry layout을 만들 3가지 방법</span>
      <p class="intro_contents">Flex, grid, js를 사용하여 만들며, 각각의 장점과 단점을 써보겠습니다.<br><br>
        <a href="./masonry02.html">1. flex 사용 masonry</a>
        <a href="./masonry03.html">2. grid 사용 masonry</a>
        <a href="./masonry04.html">3. grid & JS 사용 masonry</a>
        <a href="">4. 라이브러리js 사용 masonry</a>
      </p>
    </div>
  </div>

  <!-- javascript -->
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</body>
</html>