<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>masonry UI</title>

  <!-- SEO meta tag -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="date" content="">
	<meta name="sitecode" content="">
	<!-- // SEO meta tag -->

	<!-- Open Graph -->
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="">
	<meta property="og:site_name" content="">
	<meta property="og:locale" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:country-name" content="">
	<!-- // Open Graph -->

	<!-- 해당 Demo에서 필요한 apps CSS -->
	<link rel="stylesheet" href="../../assets/css/common.css">
	<link rel="stylesheet" href="../../assets/css/masonry04.css">
	<!-- // 해당 Demo에서 필요한 apps CSS -->
</head>
<body>

  <div class="wrap">
    <ul class="list">
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/close-up-portrait-beautiful-cat_23-2149214373.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/lovely-pet-portrait-isolated_23-2149192347.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/adorable-black-white-kitty-with-monochrome-wall-her_23-2148955182.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/grey-kitty-with-monochrome-wall-her_23-2148955114.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/adorable-kitty-looking-like-it-want-hunt_23-2149167099.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/premium-photo/close-up-cat-looking-away_1048944-23130667.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/close-up-portrait-beautiful-cat_23-2149214412.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/isolated-shot-ginger-kitten-sitting-front-white-looking-right_181624-45937.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/adorable-white-black-kitty-with-monochrome-wall-her_23-2148955171.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/free-photo/cute-cat-sitting-chair_23-2148882589.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/premium-photo/close-up-cat-looking-away_1048944-24954402.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/premium-photo/close-up-portrait-cat_1048944-12878736.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
      <li class="item">
        <div class="card">
          <img src="https://img.freepik.com/premium-photo/close-up-portrait-cat_1048944-12878736.jpg?ga=GA1.1.1635594481.1724060968&semt=ais_hybrid" alt="">
        </div>
      </li>
    </ul>
  </div>

  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    // window.onload = () => {
    //   document.querySelectorAll(".item").forEach((item) => {
    //     item.style.gridRowEnd = `span ${item.clientHeight + 20}`;
    //   });

    //   const list = document.querySelector(".list");

    //   list.style.display = "grid";
    //   list.style.gridTemplateColumns = "repeat(auto-fill, 25%)";
    //   list.style.gridAutoRows = "1px";
    // }

    $(function(){
      $(".item").each(function(index, item) {
        $(this).css("grid-row-end", "span " + ($(this).height() + 20));
        console.log($(this).length)
      });

      const list = $(".list");

      $(".list").css({"display": "grid","grid-template-columns": "repeat(auto-fill, 25%)","grid-auto-rows": "1px"})
    });
    
  </script>
</body>
</html>