<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>masonry UI</title>

  <!-- SEO meta tag -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="date" content="">
	<meta name="sitecode" content="">
	<!-- // SEO meta tag -->

	<!-- Open Graph -->
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:type" content="">
	<meta property="og:site_name" content="">
	<meta property="og:locale" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:country-name" content="">
	<!-- // Open Graph -->

	<!-- 해당 Demo에서 필요한 apps CSS -->
	<link rel="stylesheet" href="../../assets/css/common.css">
	<link rel="stylesheet" href="../../assets/css/masonry03.css">
	<!-- // 해당 Demo에서 필요한 apps CSS -->
</head>
<body>

  <div class="wrap">
    <ul class="list">
      <li class="item short">
        <div class="card">1</div>
      </li>
      <li class="item">
        <div class="card">2</div>
      </li>
      <li class="item long">
        <div class="card">3</div>
      </li>
      <li class="item long">
        <div class="card">4</div>
      </li>
      <li class="item short">
        <div class="card">5</div>
      </li>
      <li class="item">
        <div class="card">6</div>
      </li>
      <li class="item short">
        <div class="card">7</div>
      </li>
      <li class="item">
        <div class="card">8</div>
      </li>
      <li class="item long">
        <div class="card">9</div>
      </li>
      <li class="item short">
        <div class="card">10</div>
      </li>
      <li class="item">
        <div class="card">11</div>
      </li>
      <li class="item">
        <div class="card">12</div>
      </li>
      <li class="item short">
        <div class="card">13</div>
      </li>
      <li class="item long">
        <div class="card">14</div>
      </li>
      <li class="item short">
        <div class="card">15</div>
      </li>
      <li class="item long">
        <div class="card">16</div>
      </li>
      <li class="item">
        <div class="card">17</div>
      </li>
      <li class="item short">
        <div class="card">18</div>
      </li>
      <li class="item long">
        <div class="card">19</div>
      </li>
      <li class="item short">
        <div class="card">20</div>
      </li>
      <li class="item long">
        <div class="card">21</div>
      </li>
      <li class="item short">
        <div class="card">22</div>
      </li>
      <li class="item long">
        <div class="card">23</div>
      </li>
    </ul>
  </div>

  <!-- javascript -->
  <script>
    
  </script>
</body>
</html>