<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>masonry UI</title>

	<!-- 해당 Demo에서 필요한 apps CSS -->
	<link rel="stylesheet" href="../../assets/css/common.css">
	<link rel="stylesheet" href="../../assets/css/masonry05.css">
	<!-- // 해당 Demo에서 필요한 apps CSS -->
</head>
<body>
 
  <div class="wrap">
    <div class="list grid">
      <div class="grid-sizer"></div>
    </div>
  </div>

  <!-- javascript -->
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      callCatsImages();

      setTimeout(() =>{
        var msnry = new Masonry('.grid', {
          // options
          itemSelector: '.grid-item',
          gutter: 10,
          columnWidth: '.grid-sizer',
        });
      },1000);

    });

    function callCatsImages(){
      $.ajax({
        url: 'https://api.thecatapi.com/v1/images/search?limit=10',
        type: 'GET',
        dataType: 'json',
        success: function(response){
          console.log(response);
          if (response){
            let cats = response;
            let catsListHtml = "";
            $.each(cats, function(key, cat){
              let catsImage = cat.url;
              catsListHtml += "<div class='item grid-item'><div class='card'><img src='" + catsImage + "' alt=''></div></div>"
            });
            $(".list").append(catsListHtml);
          }
        },
        error: function(request, status, error){
          console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        }
      });
    }
  </script>
</body>
</html>