.wrap {
  position: relative;
  margin: 0 auto;
  width: 850px;
}
.list {
  width: 100%;
}
.item {
  overflow: hidden;
  width: 409px;
  margin-bottom: 10px;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}