.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  grid-auto-rows: 1px;
}
.item {
  width: 97%;
  grid-row-end: span 190;
  background-color: #bbbaba;
  padding: 10px;
  margin: 2%;
}
.item.short {
  grid-row-end: span 100;
  
}
.item.long {
  grid-row-end: span 350;
}
.card {
  display: flex;
  justify-content: center;
  background-color: #bbbaba;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}